
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p class="foot">Every time you post something online, you have a choice. You can either make it something that adds to the happiness levels in the world—or you can make it something that takes away.</p>
  </div>
</div>
</body>
</html>
