.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
h1{
    font-family: 'Montserrat';
}
/* body{
    background-image: url('/bg5.jpg');
   
    background-size: cover;
} */
/* .container{
    background-image: url('/bg1.jpg');
    background-size: cover;

} */

.topcont{
    background-image: url('/bg9.jpg');
   
    background-size: cover;
}
.navbar-header{
    color: black;
}
.navbar {
    background-color: #90c1a3;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Montserrat';
    font-weight: 795;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav  li a:hover {
    color: #050705 !important;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #214b2f;
    position: sticky;
}
.foot{
    font-family: 'Montserrat';
    font-weight: 800;
}
p{
    font-weight: 650;
    font-family: 'Montserrat';
    font-size: medium;
}

.footer p {
	margin-top: 344px;
	font-size: 12px;
  color: #fff;
}
